*{
    --main-tx-color: #FFFFFF; 
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RW Dewi', sans-serif;
}

.header{
    position: relative;
    width: 1450px;
    margin-left: auto;
    margin-right: auto;
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
            linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
            padding: 44px 130px;
            backdrop-filter: blur(2px);
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 10000;
                .logo{
                    display: flex;
                    align-items: center;
                }
                .menu{
                    ul{
                        list-style: none;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        gap: 32px;
                        font-size: 18px;
                        font-weight: 600;
                        a{
                            text-decoration: none;
                            color: var(--main-tx-color);
                        }
                    }
                }
                .application{
                    a{
                        text-decoration: none;
                        color: var(--main-tx-color);
                        font-size: 18px;
                        font-weight: 700;            
                        }
                }
        }
}
main{
    width: 1450px;
    margin-left: auto;
    margin-right: auto;

.title{
    position: relative;
    /*.title_img{
        position: relative;
        width: 100%;
        height: 100%;
    }*/
    
    .title-background{  
         
        padding: 276px 66px 0px 67px;
        margin-bottom: 0px;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(30, 30, 30, 0.5) 0%, #00000011 100%);
        
            .tittle-content{
                text-align: center;
                
                h1{
                    color: var(--main-tx-color);
                    font-size: 45px;
                    font-weight: 700;
                }
                p{
                    color: var(--main-tx-color);
                    font-size: 20px;
                    font-weight: 600;
                    margin-top: 20px;
                }
                .title_btn{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    margin-top: 66px;
                    .btn_applicat{
                        padding: 17px 29px;
                        max-width: 260px;
                        border: 0;
                        font-size: 18px;
                        font-weight: 700;
                        background-color: #FFFFFF;
                        font-family: 'RF Dewi Expanded, sans-serif';
                    }
                    a{
                        text-decoration: none;
                        color: var(--main-tx-color);
                        font-size: 18px;
                        font-weight: 700;
                        font-family: 'RF Dewi Expanded, sans-serif';
                    }
                }
                .img_chat{
                    display: flex;   
                    max-width: 1450px; 
                    align-items: flex-end;
                    margin-top: 77px;
                    margin-bottom: 60px;
                    
                    img{
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
                        backdrop-filter: blur(2px);
                    }
                }
            } 
    }
}

.about{
    position: relative;
    margin-top: 0;
    .about_items{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(30, 30, 30, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
        display: grid;
        grid-template-columns: 552px 695px;
        grid-template-rows: 1fr 1fr;
        column-gap: 33px;
        row-gap: 129px;
        padding: 45px 45px 117px 108px;
        .about_items_descrip{
            padding-left: 55px;
            h2{
                color: var(--main-tx-color);
                font-size: 45px;
                font-weight: 700;
                font-family: 'RW Dewi', sans-serif;
                padding-top: 160px;
                
            }
            h3{
                color: var(--main-tx-color);
                font-size: 26px;
                font-weight: 700;
                font-family: 'RW Dewi', sans-serif;
                padding-top: 23px;
                
            }
            p{
                color: var(--main-tx-color);
                font-size: 16px;
                font-family: 'RW Dewi', sans-serif;
                opacity: 0.6;
                padding-top: 34px;
                
            } 
        }
        .about_items_content{  
            h3{
                color: var(--main-tx-color);
                font-size: 26px;
                font-weight: 700;
                font-family: 'RW Dewi', sans-serif;
                padding-top: 23px;
            }
            ul{
                color: var(--main-tx-color);
                font-size: 16px;
                font-family: 'RW Dewi', sans-serif;
                opacity: 0.6;
                list-style-type: none;
                li{
                padding-top: 34px;
                
                    &::before{
                    color: #00BF63;
                    content: " ●";
                    text-align: center;
                    padding-right: 13px;
                }}
            }
            .about_items_content_btn{
                display: flex;
                flex-wrap: wrap;
                gap: 38px;
                margin-top: 67px;
                align-items: center;
                button{
                    padding: 13px 21px;
                    color: var(--main-tx-color);
                    font-size: 16px;
                    text-align: center;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
                    border: 2px solid;
                    border-image-source: linear-gradient(165.4deg, #FFFFFF -10.07%, rgba(255, 255, 255, 0) 89.61%);
                    border-radius: 20px;
                }
                a{
                    text-decoration: none;
                        color: var(--main-tx-color);
                        font-size: 18px;
                        font-weight: 700;
                        font-family: 'RF Dewi Expanded, sans-serif';
                }
            }      
        }
    }
}
.advantages{
    position: relative;
    margin-top: 0;
    .advantages_background{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(30, 30, 30, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
        
    .advantages_descrip{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            color: var(--main-tx-color);
            font-size: 45px;
            padding-top: 66px;
            font-family: 'RF Dewi Expanded, sans-serif';
        }
        .advantages_descrip_content{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(6px);
            border-radius: 42px;
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(3, 220px);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 116px;
            row-gap: 48px;
            align-items: center;
            padding: 54px 40px 50px 39px;
            .advantages_descrip_content_item{
                display: flex;
                flex-direction: column;
                align-items: center;
                .img_first_row{
                    width: 64px;
                    height: 64px;
                    background: #2BE3A0;
                    box-shadow: 0px 17px 17px rgba(43, 227, 160, 0.28);
                    border-radius: 12px;
                    text-align: center;
                    line-height: 64px;
                    vertical-align: baseline;
                    padding-top: 15px;
                }
                .img_two_row{
                    width: 64px;
                    height: 64px;
                    background: #FFBF44;
                    box-shadow: 0px 17px 17px rgba(255, 191, 67, 0.28);
                    border-radius: 12px;
                    text-align: center;
                    line-height: 64px;
                    vertical-align: baseline;
                    padding-top: 15px;
                }
                p{
                    padding-top: 18px;  
                    color: var(--main-tx-color);
                    font-size: 16px;
                    font-family: 'RF Dewi Expanded, sans-serif';
                    text-align: center;
                }
                
            }
        }
        
    }
    }
}
.reviews{
    position: relative;
    margin-top: 0;
    .reviews_background{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(64, 64, 64, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
        .reviews_background_descrip{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                color: var(--main-tx-color);
                font-size: 45px;
                padding-top: 66px;
                font-family: 'RF Dewi Expanded, sans-serif';
            }
            .reviews_background_descrip_contain{
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
                backdrop-filter: blur(2px);
                border-radius: 61px;
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 80px;
                padding: 68px 170px 50px 68px;
                .reviews_background_descrip_contain_img{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .photo{
                        border-radius: 40px;
                        margin-bottom: 24px;
                    }
                    .nav_arrow{
                        display: inline-flex;
                        flex-wrap: wrap;
                        gap: 22px;
                    }
                }
                .reviews_background_descrip_contain_content{
                    p{
                        padding-top: 37px;  
                        color: var(--main-tx-color);
                        font-size: 16px;
                        font-family: 'RF Dewi Expanded, sans-serif';
                        max-width: 443px;
                        line-height: 131%;
                    }
                    h4{
                        padding-top: 34px;
                        color: var(--main-tx-color);
                        font-size: 18px;
                        font-weight: 700;
                        font-family: 'RF Dewi Expanded, sans-serif';
                    }
                    h5{
                        padding-top: 6px;
                        color: var(--main-tx-color);
                        font-size: 18px;
                        font-weight: 600;
                        opacity: 0.5;
                        font-family: 'RF Dewi Expanded, sans-serif';
                    }
                }
            }
        }
    }
}
.requirements{
    position: relative;
    margin-top: 0;
    .requirements_background{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(64, 64, 64, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
        .requirements_background_descrip{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                color: var(--main-tx-color);
                font-size: 45px;
                padding-top: 66px;
                font-family: 'RF Dewi Expanded, sans-serif';
            }
            .requirements_background_descrip_contain{
                display: grid;
                grid-template-columns: repeat(2, 620px);
                grid-template-rows: repeat(1, 1fr);
                column-gap: 116px;
                
                margin: 85px 170px 108px 68px;
                .requirements_background_descrip_contain_img{
                    max-width: 620px;
                    .background{
                        position: relative;
                        top: 0px;
                        left: 129px;
                        z-index: 10;
                    }
                    .audi{
                        position: absolute;
                        top: 205px;
                        left: 132px;
                        z-index: 11;
                    }
                }
                .requirements_background_descrip_contain_content_list{
                    margin-bottom: 44px;
                    ul{
                    color: var(--main-tx-color);
                    font-size: 16px;
                    font-family: 'RW Dewi', sans-serif;
                    list-style-type: none;
                    margin-bottom: 20px;
                    li{
                    padding-top: 34px;
                    
                        &::before{
                        color: #00BF63;
                        content: " ●";
                        text-align: center;
                        padding-right: 13px;
                    }}
                    }
                }
            }
        }
        .requirements_background_join_fond{
            position: absolute;
            top: 637px;
            bottom: 197px;
            width: 100%;
            background: linear-gradient(180deg, rgba(30, 30, 30, 0.76) 0%, #000000 100%);
            opacity: 0.67;
            .contain{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                gap:80px;
                padding: 86px 189px 86px 132px;
                .contain_content{
                    max-width: 736px;
                    padding: 0;
                    h2{
                        color: var(--main-tx-color);
                        font-size: 36px;
                        font-weight: 700;
                        font-family: 'RF Dewi Expanded, sans-serif';
                    }
                    p{
                        color: var(--main-tx-color);
                        font-size: 16px;
                        font-weight: 600;
                        font-family: 'RF Dewi Expanded, sans-serif';
                        opacity: 0.6;
                    }
                }
                .containt_submit{
                    input[type="text"]{
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
                        backdrop-filter: blur(2px);
                        padding: 15px 0px 16px 210px;
                        margin-bottom: 18px;
                        border: 0;
                    }
                    input[type="tel"]{
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
                        backdrop-filter: blur(2px);
                        padding: 15px 54px 16px 75px;
                        margin-bottom: 18px;
                        border: 0;
                    }
                }
            }
        }
    }
}
/*закрывающая для main желтая*/}