@charset "UTF-8";
* {
  --main-tx-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RW Dewi", "Montserrat", sans-serif;
}

.header {
  position: relative;
  width: 1450px;
  margin-left: auto;
  margin-right: auto;
}
.header header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  padding: 44px 130px;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  z-index: 10000;
}
.header header .logo {
  display: flex;
  align-items: center;
}
.header header .menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  font-size: 18px;
  font-weight: 600;
}
.header header .menu ul a {
  text-decoration: none;
  color: var(--main-tx-color);
}
.header header .application a {
  text-decoration: none;
  color: var(--main-tx-color);
  font-size: 18px;
  font-weight: 700;
}

main {
  width: 1450px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  position: relative;
}
.title .title_img {
  position: relative;
  width: 100%;
  height: 100%;
}
.title .title-background {
  padding: 276px 66px 6px 67px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(30, 30, 30, 0.11) 0%, rgba(0, 0, 0, 0.0666666667) 100%);
}
.title .title-background .tittle-content {
  text-align: center;
}
.title .title-background .tittle-content h1 {
  color: var(--main-tx-color);
  font-size: 45px;
  font-weight: 700;
}
.title .title-background .tittle-content p {
  color: var(--main-tx-color);
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
.title .title-background .tittle-content .title_btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 66px;
}
.title .title-background .tittle-content .title_btn .btn_applicat {
  padding: 17px 29px;
  max-width: 260px;
  border: 0;
  font-size: 18px;
  font-weight: 700;
  background-color: #FFFFFF;
  font-family: "RF Dewi Expanded, sans-serif";
}
.title .title-background .tittle-content .title_btn a {
  text-decoration: none;
  color: var(--main-tx-color);
  font-size: 18px;
  font-weight: 700;
  font-family: "RF Dewi Expanded, sans-serif";
}
.title .title-background .tittle-content .img_chat {
  display: flex;
  max-width: 1450px;
  align-items: flex-end;
  margin-top: 77px;
  margin-bottom: 60px;
}
.title .title-background .tittle-content .img_chat img {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}

.about {
  position: relative;
  margin-top: 0;
}
.about .about_img {
  position: relative;
}
.about .about_items {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.0666666667);
  display: grid;
  grid-template-columns: 552px 695px;
  grid-template-rows: 1fr 1fr;
  column-gap: 33px;
  row-gap: 129px;
  padding: 45px 45px 117px 108px;
}
.about .about_items .about_items_discrip {
  padding-left: 55px;
}
.about .about_items .about_items_discrip h2 {
  color: var(--main-tx-color);
  font-size: 45px;
  font-weight: 700;
  font-family: "RW Dewi", sans-serif;
  padding-top: 160px;
}
.about .about_items .about_items_discrip h3 {
  color: var(--main-tx-color);
  font-size: 26px;
  font-weight: 700;
  font-family: "RW Dewi", sans-serif;
  padding-top: 23px;
}
.about .about_items .about_items_discrip p {
  color: var(--main-tx-color);
  font-size: 16px;
  font-family: "RW Dewi", sans-serif;
  opacity: 0.6;
  padding-top: 34px;
}
.about .about_items .about_items_content h3 {
  color: var(--main-tx-color);
  font-size: 26px;
  font-weight: 700;
  font-family: "RW Dewi", sans-serif;
  padding-top: 23px;
}
.about .about_items .about_items_content ul {
  color: var(--main-tx-color);
  font-size: 16px;
  font-family: "RW Dewi", sans-serif;
  opacity: 0.6;
  list-style-type: none;
}
.about .about_items .about_items_content ul li {
  padding-top: 34px;
}
.about .about_items .about_items_content ul li::before {
  color: #00BF63;
  content: " ●";
  text-align: center;
  padding-right: 13px;
}
.about .about_items .about_items_content .about_items_content_btn {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  margin-top: 67px;
  align-items: center;
}
.about .about_items .about_items_content .about_items_content_btn button {
  padding: 13px 21px;
  color: var(--main-tx-color);
  font-size: 16px;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
  border: 2px solid;
  border-image-source: linear-gradient(165.4deg, #FFFFFF -10.07%, rgba(255, 255, 255, 0) 89.61%);
  border-radius: 20px;
}
.about .about_items .about_items_content .about_items_content_btn a {
  text-decoration: none;
  color: var(--main-tx-color);
  font-size: 18px;
  font-weight: 700;
  font-family: "RF Dewi Expanded, sans-serif";
}

/*# sourceMappingURL=styles.css.map */
