@charset "UTF-8";
* {
  --main-tx-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RW Dewi", sans-serif;
}

.header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  backdrop-filter: blur(2px);
  position: sticky;
  top: 0;
  z-index: 10000;
}
.header header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1450px;
  margin-top: -153px;
  margin-left: auto;
  margin-right: auto;
  padding: 44px 137px;
}
.header header .logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.header header .menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  font-size: 18px;
  font-weight: 600;
}
.header header .menu ul a {
  text-decoration: none;
  color: var(--main-tx-color);
}
.header header .application a {
  text-decoration: none;
  color: var(--main-tx-color);
  font-size: 18px;
  font-weight: 700;
}

main {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  /*закрывающая для main желтая*/
}
main .title {
  position: relative;
  background-image: url("images/main-page/title_background.jpg");
  max-width: 1450px;
  width: 100%;
  height: auto;
  aspect-ratio: 1450/763;
}
main .title .title-background {
  margin-bottom: 0px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(30, 30, 30, 0.36) 0%, rgba(0, 0, 0, 0.11) 100%);
}
main .title .title-background .title_content {
  display: flex;
  flex-direction: column;
  margin-top: 276px;
}
main .title .title-background .title_content h1 {
  color: var(--main-tx-color);
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 9px;
  font-family: "RF Dewi", sans-serif;
  text-align: center;
}
main .title .title-background .title_content p {
  color: var(--main-tx-color);
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  letter-spacing: 1px;
  font-family: "RF Dewi", sans-serif;
  text-align: center;
}
main .title .title-background .title_content .title_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 66px;
}
main .title .title-background .title_content .title_btn .btn_applicat {
  padding: 17px 29px;
  max-width: 260px;
  border: 0;
  font-size: 18px;
  font-weight: 700;
  background-color: #FFFFFF;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
}
main .title .title-background .title_content .title_btn a {
  text-decoration: none;
  color: var(--main-tx-color);
  font-size: 18px;
  font-weight: 700;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
}
main .title .title-background .title_content .img_chat {
  display: flex;
  max-width: 1450px;
  justify-content: end;
  margin-top: 77px;
  margin-bottom: 60px;
  margin-right: 46px;
}
main .title .title-background .title_content .img_chat button {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}
main .about {
  position: relative;
  background-image: url("images/main-page/backgroundimage_about.jpg");
  max-width: 1450px;
  width: 100%;
  height: auto;
  aspect-ratio: 1450/1311;
}
main .about .about_items {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.7);
  display: grid;
  grid-template-columns: 552px 695px;
  grid-template-rows: 1fr 1fr;
  column-gap: 33px;
  row-gap: 129px;
  padding: 45px 45px 117px 108px;
}
main .about .about_items .about_items_descrip {
  padding-left: 55px;
}
main .about .about_items .about_items_descrip h2 {
  color: var(--main-tx-color);
  font-size: 45px;
  font-weight: 700;
  font-family: "RW Dewi", sans-serif;
  padding-top: 160px;
  letter-spacing: 10px;
}
main .about .about_items .about_items_descrip h3 {
  color: var(--main-tx-color);
  font-size: 26px;
  font-weight: 700;
  font-family: "RW Dewi", sans-serif;
  padding-top: 23px;
  letter-spacing: 1px;
  line-height: 31px;
  max-width: 555px;
}
main .about .about_items .about_items_descrip p {
  color: var(--main-tx-color);
  font-size: 16px;
  font-family: "RW Dewi", sans-serif;
  opacity: 0.6;
  padding-top: 34px;
  letter-spacing: 1px;
  max-width: 449px;
}
main .about .about_items .about_items_content h3 {
  color: var(--main-tx-color);
  font-size: 26px;
  font-weight: 700;
  font-family: "RW Dewi", sans-serif;
  padding-top: 23px;
  letter-spacing: 1px;
}
main .about .about_items .about_items_content ul {
  color: var(--main-tx-color);
  font-size: 16px;
  font-family: "RW Dewi", sans-serif;
  letter-spacing: 1px;
  opacity: 0.6;
  list-style-type: none;
}
main .about .about_items .about_items_content ul li {
  padding-top: 34px;
}
main .about .about_items .about_items_content ul li::before {
  color: #00BF63;
  content: " ●";
  text-align: center;
  padding-right: 13px;
}
main .about .about_items .about_items_content .about_items_content_btn {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  margin-top: 67px;
  align-items: center;
}
main .about .about_items .about_items_content .about_items_content_btn button {
  padding: 13px 21px;
  color: var(--main-tx-color);
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
  border: 2px solid;
  border-image-source: linear-gradient(165.4deg, #FFFFFF -10.07%, rgba(255, 255, 255, 0) 89.61%);
  border-radius: 20px;
}
main .about .about_items .about_items_content .about_items_content_btn a {
  text-decoration: none;
  color: var(--main-tx-color);
  font-size: 18px;
  font-weight: 700;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
}
main .advantages {
  position: relative;
  background-image: url("images/main-page/backgroundimage_advantages.jpg");
  max-width: 1450px;
  width: 100%;
  height: auto;
  aspect-ratio: 1450/678;
}
main .advantages .advantages_background {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(30, 30, 30, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
}
main .advantages .advantages_background .advantages_descrip {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .advantages .advantages_background .advantages_descrip h2 {
  color: var(--main-tx-color);
  font-size: 45px;
  padding-top: 66px;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
}
main .advantages .advantages_background .advantages_descrip .advantages_descrip_content {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  border-radius: 42px;
  margin-top: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  padding: 54px 40px 50px 39px;
}
main .advantages .advantages_background .advantages_descrip .advantages_descrip_content .advantages_descrip_content_first_row {
  display: flex;
  flex-direction: row;
  gap: 146px;
  align-items: center;
  justify-content: center;
}
main .advantages .advantages_background .advantages_descrip .advantages_descrip_content .advantages_descrip_content_first_row .advantages_descrip_content_first_row_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 236px;
}
main .advantages .advantages_background .advantages_descrip .advantages_descrip_content .advantages_descrip_content_first_row .advantages_descrip_content_first_row_item .img_first_row {
  width: 64px;
  height: 64px;
  background: #2BE3A0;
  box-shadow: 0px 17px 17px rgba(43, 227, 160, 0.28);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .advantages .advantages_background .advantages_descrip .advantages_descrip_content .advantages_descrip_content_first_row .advantages_descrip_content_first_row_item p {
  padding-top: 18px;
  color: var(--main-tx-color);
  font-size: 16px;
  font-family: "RF Dewi Expanded", sans-serif;
  text-align: center;
  letter-spacing: 1px;
}
main .advantages .advantages_background .advantages_descrip .advantages_descrip_content .advantages_descrip_content_two_row {
  display: flex;
  flex-direction: row;
  gap: 116px;
  align-items: center;
  justify-content: center;
}
main .advantages .advantages_background .advantages_descrip .advantages_descrip_content .advantages_descrip_content_two_row .advantages_descrip_content_two_row_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 265px;
}
main .advantages .advantages_background .advantages_descrip .advantages_descrip_content .advantages_descrip_content_two_row .advantages_descrip_content_two_row_item .img_two_row {
  width: 64px;
  height: 64px;
  background: #FFBF44;
  box-shadow: 0px 17px 17px rgba(255, 191, 67, 0.28);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .advantages .advantages_background .advantages_descrip .advantages_descrip_content .advantages_descrip_content_two_row .advantages_descrip_content_two_row_item p {
  padding-top: 18px;
  color: var(--main-tx-color);
  font-size: 16px;
  font-family: "RF Dewi Expanded", sans-serif;
  text-align: center;
  letter-spacing: 1px;
}
main .reviews {
  position: relative;
  background-image: url("images/main-page/backgroundimage_reviews.jpg");
  max-width: 1450px;
  width: 100%;
  height: auto;
  aspect-ratio: 1450/851;
}
main .reviews .reviews_background {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(64, 64, 64, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
}
main .reviews .reviews_background .reviews_background_descrip {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .reviews .reviews_background .reviews_background_descrip h2 {
  color: var(--main-tx-color);
  font-size: 45px;
  padding-top: 66px;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
}
main .reviews .reviews_background .reviews_background_descrip .reviews_background_descrip_contain {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  border-radius: 61px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;
  padding: 68px 170px 50px 68px;
}
main .reviews .reviews_background .reviews_background_descrip .reviews_background_descrip_contain .reviews_background_descrip_contain_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .reviews .reviews_background .reviews_background_descrip .reviews_background_descrip_contain .reviews_background_descrip_contain_img .photo {
  border-radius: 40px;
  margin-bottom: 24px;
}
main .reviews .reviews_background .reviews_background_descrip .reviews_background_descrip_contain .reviews_background_descrip_contain_img .nav_arrow {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 22px;
}
main .reviews .reviews_background .reviews_background_descrip .reviews_background_descrip_contain .reviews_background_descrip_contain_content p {
  padding-top: 37px;
  color: var(--main-tx-color);
  font-size: 16px;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
  max-width: 443px;
  line-height: 131%;
}
main .reviews .reviews_background .reviews_background_descrip .reviews_background_descrip_contain .reviews_background_descrip_contain_content h4 {
  padding-top: 34px;
  color: var(--main-tx-color);
  font-size: 18px;
  font-weight: 700;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
}
main .reviews .reviews_background .reviews_background_descrip .reviews_background_descrip_contain .reviews_background_descrip_contain_content h5 {
  padding-top: 6px;
  color: var(--main-tx-color);
  font-size: 18px;
  font-weight: 600;
  opacity: 0.5;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
}
main .requirements {
  position: relative;
  background-image: url("images/main-page/backgroundimage_requirements.jpg");
  max-width: 1450px;
  width: 100%;
  height: auto;
  aspect-ratio: 1450/1178;
}
main .requirements .requirements_background {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(64, 64, 64, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
}
main .requirements .requirements_background .requirements_background_descrip {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .requirements .requirements_background .requirements_background_descrip h2 {
  color: var(--main-tx-color);
  font-size: 45px;
  padding-top: 66px;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
}
main .requirements .requirements_background .requirements_background_descrip .requirements_background_descrip_contain {
  display: grid;
  grid-template-columns: repeat(2, 620px);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 250px;
  margin: 85px 170px 108px 68px;
}
main .requirements .requirements_background .requirements_background_descrip .requirements_background_descrip_contain .requirements_background_descrip_contain_img {
  max-width: 620px;
}
main .requirements .requirements_background .requirements_background_descrip .requirements_background_descrip_contain .requirements_background_descrip_contain_img .background {
  position: relative;
  top: 0px;
  left: 210px;
  z-index: 10;
}
main .requirements .requirements_background .requirements_background_descrip .requirements_background_descrip_contain .requirements_background_descrip_contain_img .audi {
  position: absolute;
  top: 205px;
  left: 132px;
  z-index: 11;
}
main .requirements .requirements_background .requirements_background_descrip .requirements_background_descrip_contain .requirements_background_descrip_contain_content_list {
  margin-bottom: 44px;
}
main .requirements .requirements_background .requirements_background_descrip .requirements_background_descrip_contain .requirements_background_descrip_contain_content_list ul {
  color: var(--main-tx-color);
  font-size: 16px;
  font-family: "RW Dewi", sans-serif;
  letter-spacing: 1px;
  list-style-type: none;
  margin-bottom: 20px;
}
main .requirements .requirements_background .requirements_background_descrip .requirements_background_descrip_contain .requirements_background_descrip_contain_content_list ul li {
  padding-top: 34px;
}
main .requirements .requirements_background .requirements_background_descrip .requirements_background_descrip_contain .requirements_background_descrip_contain_content_list ul li::before {
  color: #00BF63;
  content: " ●";
  text-align: center;
  padding-right: 13px;
}
main .requirements .requirements_background .requirements_background_join {
  position: relative;
  background-image: url("images/main-page/background_join.jpg");
  max-width: 1450px;
  width: 100%;
  height: auto;
  aspect-ratio: 1450/348;
}
main .requirements .requirements_background .requirements_background_join .requirements_background_join_fond {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(30, 30, 30, 0.67) 0%, rgba(0, 0, 0, 0.67) 100%);
}
main .requirements .requirements_background .requirements_background_join .requirements_background_join_fond .contain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  padding: 86px 132px;
}
main .requirements .requirements_background .requirements_background_join .requirements_background_join_fond .contain .contain_content {
  max-width: 736px;
  padding: 0;
}
main .requirements .requirements_background .requirements_background_join .requirements_background_join_fond .contain .contain_content h2 {
  color: var(--main-tx-color);
  font-size: 36px;
  font-weight: 700;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 4px;
}
main .requirements .requirements_background .requirements_background_join .requirements_background_join_fond .contain .contain_content p {
  color: var(--main-tx-color);
  font-size: 16px;
  font-weight: 600;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
  opacity: 0.6;
  margin-top: 27px;
}
main .requirements .requirements_background .requirements_background_join .requirements_background_join_fond .contain .containt_submit form {
  max-width: 343px;
}
main .requirements .requirements_background .requirements_background_join .requirements_background_join_fond .contain .containt_submit form input[type=text] {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  padding: 15px 201px 16px 34px;
  margin-bottom: 18px;
  border: 0;
  width: 100%;
  box-sizing: border-box;
}
main .requirements .requirements_background .requirements_background_join .requirements_background_join_fond .contain .containt_submit form input[type=tel] {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  padding: 15px 44px 16px 44px;
  margin-bottom: 18px;
  border: 0;
  width: 100%;
  box-sizing: border-box;
}
main .requirements .requirements_background .requirements_background_join .requirements_background_join_fond .contain .containt_submit form input[type=submit] {
  padding: 16px 85px;
  max-width: 343px;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  background-color: #FFFFFF;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
  width: 100%;
  box-sizing: border-box;
}
main .requirements .requirements_background .requirements_background_map h2 {
  color: var(--main-tx-color);
  font-size: 36px;
  font-weight: 700;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 114px;
  margin-bottom: 32px;
}
main .contacts {
  position: relative;
  background-image: url("images/main-page/backgroundimage_contacts.jpg");
  max-width: 1450px;
  width: 100%;
  height: auto;
  aspect-ratio: 1450/319;
}
main .contacts .contacts_background {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  padding: 48px 116px 76px 132px;
}
main .contacts .contacts_background .contacts_background_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .contacts .contacts_background .contacts_background_header h2 {
  color: var(--main-tx-color);
  font-size: 45px;
  font-weight: 700;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
}
main .contacts .contacts_background .contacts_background_header p {
  color: var(--main-tx-color);
  font-size: 16px;
  font-weight: 600;
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
  opacity: 0.4;
  margin-top: 27px;
}
main .contacts .contacts_background .contacts_background_header img {
  margin-top: -16px;
}
main .contacts .contacts_background .contacts_background_connect {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 305px;
  row-gap: 8px;
  margin-top: 71px;
  color: var(--main-tx-color);
  font-family: "RF Dewi Expanded", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
main .contacts .contacts_background .contacts_background_connect .comments {
  font-size: 16px;
  opacity: 0.4;
}

footer {
  background: #1E1E1E;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  padding: 62px 109px 58px 132px;
}
footer .footer_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 47px;
}
footer .footer_header .footer_header_menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "RF Dewi", sans-serif;
}
footer .footer_header .footer_header_menu ul a {
  text-decoration: none;
  color: var(--main-tx-color);
}
footer .footer_header .footer_header_logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
footer .footer_extra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer_extra .footer_extra_network {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer_extra .footer_extra_network p {
  color: var(--main-tx-color);
  font-family: "RF Dewi", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.4;
  margin-right: 20px;
  margin-top: 9px;
}
footer .footer_extra .footer_extra_network .footer_extra_network_img {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
footer .footer_extra .footer_extra_documents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
footer .footer_extra .footer_extra_documents p {
  color: var(--main-tx-color);
  font-family: "RF Dewi", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.4;
}

@media (max-width: 375px) {
  .title .title-background .title_content {
    margin-top: 176px;
  }
  .title .title-background .title_content h1 {
    font-size: 25px;
  }
  .title .title-background .title_content p {
    font-size: 16px;
  }
  .title .title-background .title_content .title_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 66px;
  }
  .title .title-background .title_content .title_btn .btn_applicat {
    padding: 17px 29px;
    max-width: 176px;
  }
  .title .title-background .title_content .title_btn a {
    display: none;
  }
  .title .title-background .title_content .img_chat {
    margin-right: 27px;
  }
}

/*# sourceMappingURL=styles.css.map */
